<!doctype html>
<html lang="ja">
<html>
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="shortcut icon" href="../static/favicon.ico">
	<title>Financial Eye 360</title>
	<style type="text/css">
<!--
h2 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;
}
-->
</style>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
	  <a href="/index" class="navbar-brand">
        <img src="../static/eye.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Financial Eye 360
      </a>
	  <a class="nav-item nav-link" style="color: #ffffff;" href="#">このサイトについて</a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12"> &nbsp </div>
        <div class="col-12"> &nbsp </div>
        <div class="col-12"><h2>このサイトについて</h2><br>
		<p>このサイトでは一個人の実験的な試みとして、各企業が金融庁に提出しているXBRLと株価情報、また検索トレンドの情報をベースに作成したWebサービスです。</p>
		<p>個人投資家が投資判断を行う際、財務データは企業HPのIRページから取得し、株価はヤフーファイナンスから取得するという煩雑になりがちな</p>
		<p>財務分析作業を自動かつひとつのツールとして提供することで、より手軽に分析することを目指して作成しました。</p>
		<p>まだまだ未完成な部分が多いですが、絶賛開発中ですのでご関心を持たれた方は一度触っていただけますと幸いです。</p></div>
		<div class="col-12"> &nbsp </div>
        <div class="col-12"><h2>免責事項</h2><br>
		<p>当サイトの掲載内容は情報の提供を目的としており、投資勧誘又は販売を目的としたものではありません。</p>
		<p>各種情報は金融庁が運営するEDINETおよび証券取引所が運営するTDNET経由で公開されたXBRLデータ等の情報を元に集計しています。</p>
		<p>集計内容が万全であるとは限りませんので、ご利用の際は各社ホームページも合わせてご参照ください。</p>
		<p>当サイトを利用しての情報収集・投資判断は利用者自身の責任において行ってください。</p>
		<p>また、当サイトで掲載している情報につきましては、一切の予告なく内容を変更、掲載の中止等を行う可能性があります。あらかじめご了承ください。</p>
		</div>
		<div class="col-12"> &nbsp </div>
        <div class="col-12"><h2>開発履歴(ブログ)</h2><br>
		<a href="https://ycopy-icopy.netlify.app/">https://ycopy-icopy.netlify.app/</a>
		</div>
		</div>
      </div>
	</div>
	

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	
  </body>
</html>
