<!doctype html>
<html lang="ja">
<html>
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Financial Eye 360</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary mb-2">
	  <a href="/index" class="navbar-brand">
        <img src="../static/eye.png" width="30" height="30" alt="">
        Financial Eye 360
      </a>
	  <form action="/search" method="GET" class="form-inline">
        <div class="input-group">
        <input type="text" class="form-control" name="code" id="text5a" placeholder="銘柄コード">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">検索</button>
        </div>
        </div>
      </form>
    </nav>

    <div class="container">
		<table class="table">
        <thead class="thead-lignt">
        <tr>
		  <th style="width:10%">コード</th>
		  <th style="width:20%">名称</th>
		  <th style="width:70%">特色</th>
		</tr>
        </thead>
		<tbody>
		{% for edinetcodeinfo in all_edinetcodeinfo %}
		<tr>
		<td><a href="/company/{{edinetcodeinfo.securitiescode}}"><strong>{{edinetcodeinfo.securitiescode}}</strong></a></td>
		<td>{{edinetcodeinfo.submitter}}</td>
		<td>{{edinetcodeinfo.description}}</td>
		</tr>
		{% endfor %}
		</table>
    </div>
	
		<script src="https://riversun.github.io/chatux/chatux.min.js"></script>
	<script>
		const chatux = new ChatUx();
	
		//ChatUXの初期化パラメータ
	const initParam =
			{
				renderMode: 'auto',
				api: {
					//echo chat server
					endpoint: 'https://script.google.com/macros/s/AKfycbzro2SWVx5lMKfbLu4cBt16xbqg4lT7xU5wfu4bbSQs-OMcFsQh/exec',
					method: 'GET',
					dataType: 'jsonp'
				},
				bot: {
					botPhoto: 'https://riversun.github.io/chatbot/bot_icon_operator.png',
					humanPhoto: null,
					widget: {
						sendLabel: '送信',
						placeHolder: '分からない単語を入力してみてください'
					}
				},
				window: {
					title: '株bot',
					infoUrl: 'https://github.com/riversun/chatux'
				}
			};
		chatux.init(initParam);
		chatux.start(false);
	</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
