<!doctype html>
<html lang="ja">
<html>
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bsadmin.css">
	<link rel="shortcut icon" href="../static/favicon.ico">
	<script src="../static/js/echarts.min.js"></script>
	<title>Financial Eye 360 - {{code}}</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
	  <a href="/index" class="navbar-brand">
       <img src="../static/eye.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Financial Eye 360
      </a>
	  <form action="/search" method="GET" class="form-inline">
        <div class="input-group">
        <input type="text" class="form-control" name="code" id="text5a" placeholder="銘柄コード（例: 4547）">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">検索</button>
        </div>
        </div>
      </form>
    </nav>
	
	<div class="d-flex align-items-stretch">
    <div class="sidebar bg-dark">
        <ul class="list-unstyled">
            <li><a href="/company/{{code}}">業績データ(通期)</a></li>
            <li><a href="#">株価データ</a></li>
			<li><a href="/news/{{code}}">ニュース</a></li>
            <li><a href="/gtrend/{{code}}">Googleトレンド</a></li>
        </ul>
    </div>

	 <div class="container-fluid">
    {% for edinetcodeinfo in all_edinetcodeinfo %}
		<table class="table">
		<tr>
			<th style="width:20%">会社名 (銘柄コード)</th>
			<td style="width:80%">{{edinetcodeinfo.submitter}} 【{{edinetcodeinfo.securitiescode}}】</td>
		</tr>
		<tr>
			<th style="width:20%">業種</th>
			<td style="width:80%">{{edinetcodeinfo.businesstype}}</td>
		</tr>
		<tr>
			<th style="width:20%">上場区分</th>
			<td style="width:80%">{{edinetcodeinfo.tosho}}</td>
		</tr>
		<tr>
			<th style="width:20%">決算月</th>
			<td style="width:80%">{{edinetcodeinfo.fiscalperiod}}</td>
		</tr>
		<tr>
			<th style="width:20%">特色</th>
			<td style="width:80%">{{edinetcodeinfo.description}}</td>
		</tr>
		</table>
	{% endfor %}
	
    <div class="row">
	  <div class="col-md-12">
        <div id="stock" style="width: 100%;height:600px;"></div>
	  </div>
    </div>

</div> <!-- container -->
</div> <!-- sidebar -->

<script type="text/javascript">
var myChart = echarts.init(document.getElementById('stock'));
var upColor = '#00da3c';
var downColor = '#ec0000';

function splitData(rawData) {
    var categoryData = [];
    var values = [];
    var volumes = [];
    for (var i = 0; i < rawData.length; i++) {
		categoryData.push(rawData[i].date);
		values.push([rawData[i]['open'],rawData[i]['close'],rawData[i]['low'],rawData[i]['high'],rawData[i]['volume'],]);
		volumes.push([i, rawData[i]['volume'], rawData[i]['open'] > rawData[i]['close'] ? 1 : -1]);
    }

    return {
        categoryData: categoryData,
        values: values,
        volumes: volumes
    };
}

function calculateMA(dayCount, data) {
    var result = [];
    for (var i = 0, len = data.values.length; i < len; i++) {
        if (i < dayCount) {
            result.push('-');
            continue;
        }
        var sum = 0;
        for (var j = 0; j < dayCount; j++) {
            sum += data.values[i - j][1];
        }
        result.push(+(sum / dayCount).toFixed(3));
    }
    return result;
}

var rawData=JSON.parse('{{all_stocks|tojson}}');
var data = splitData(rawData);

myChart.setOption(option = {
    backgroundColor: '#fff',
    animation: false,
    legend: {
        bottom: 10,
        left: 'center',
        data: ['株価', 'MA25', 'MA75']
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross'
        },
        backgroundColor: 'rgba(245, 245, 245, 0.8)',
        borderWidth: 1,
        borderColor: '#ccc',
        padding: 10,
        textStyle: {
            color: '#000'
        },
        position: function (pos, params, el, elRect, size) {
            var obj = {top: 10};
            obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
            return obj;
        }
        // extraCssText: 'width: 170px'
    },
    axisPointer: {
        link: {xAxisIndex: 'all'},
        label: {
            backgroundColor: '#777'
        }
    },
    toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: false
            },
            brush: {
                type: ['lineX', 'clear']
            }
        }
    },
    brush: {
        xAxisIndex: 'all',
        brushLink: 'all',
        outOfBrush: {
            colorAlpha: 0.1
        }
    },
    visualMap: {
        show: false,
        seriesIndex: 5,
        dimension: 2,
        pieces: [{
            value: 1,
            color: downColor
        }, {
            value: -1,
            color: upColor
        }]
    },
    grid: [
        {
            left: '10%',
            right: '8%',
            height: '50%'
        },
        {
            left: '10%',
            right: '8%',
            top: '63%',
            height: '16%'
        }
    ],
    xAxis: [
        {
            type: 'category',
            data: data.categoryData,
            scale: true,
            boundaryGap: false,
            axisLine: {onZero: false},
            splitLine: {show: false},
            splitNumber: 20,
            min: 'dataMin',
            max: 'dataMax',
            axisPointer: {
                z: 100
            }
        },
        {
            type: 'category',
            gridIndex: 1,
            data: data.categoryData,
            scale: true,
            boundaryGap: false,
            axisLine: {onZero: false},
            axisTick: {show: false},
            splitLine: {show: false},
            axisLabel: {show: false},
            splitNumber: 20,
            min: 'dataMin',
            max: 'dataMax'
        }
    ],
    yAxis: [
        {
            scale: true,
            splitArea: {
                show: true
            }
        },
        {
            scale: true,
            gridIndex: 1,
            splitNumber: 2,
            axisLabel: {show: false},
            axisLine: {show: false},
            axisTick: {show: false},
            splitLine: {show: false}
        }
    ],
    dataZoom: [
        {
            type: 'inside',
            xAxisIndex: [0, 1],
            start: 98,
            end: 100
        },
        {
            show: true,
            xAxisIndex: [0, 1],
            type: 'slider',
            top: '85%',
            start: 98,
            end: 100
        }
    ],
    series: [
        {
            name: '株価',
            type: 'candlestick',
            data: data.values,
            itemStyle: {
                color: upColor,
                color0: downColor,
                borderColor: null,
                borderColor0: null
            },
            tooltip: {
                formatter: function (param) {
                    param = param[0];
                    return [
                        'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                        'Open: ' + param.data[0] + '<br/>',
                        'Close: ' + param.data[1] + '<br/>',
                        'Lowest: ' + param.data[2] + '<br/>',
                        'Highest: ' + param.data[3] + '<br/>'
                    ].join('');
                }
            }
        },
        {
            name: 'MA25',
            type: 'line',
            data: calculateMA(25, data),
            smooth: true,
            lineStyle: {
                opacity: 0.5
            }
        },
        {
            name: 'MA75',
            type: 'line',
            data: calculateMA(75, data),
            smooth: true,
            lineStyle: {
                opacity: 0.5
            }
        },
        {
            name: '出来高',
            type: 'bar',
            xAxisIndex: 1,
            yAxisIndex: 1,
            data: data.volumes
        }
    ]
}, true);

function dateToStr24HPad0(date, format) {
    format = format.replace(/YYYY/g, date.getFullYear());
    format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
    format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));
    
    return format;
}
var today=new Date();
var enddate=dateToStr24HPad0(today, 'YYYY-MM-DD');
var startdate=(dateToStr24HPad0(today.setDate(dt.getDate() - 8), 'YYYY-MM-DD'));

myChart.dispatchAction({
    type: 'brush',
    areas: [
        {
            brushType: 'lineX',
            coordRange: [startdate, enddate],
            xAxisIndex: 0
        }
    ]
});
</script>

    <script src="https://riversun.github.io/chatux/chatux.min.js"></script>
    <script>
     const chatux = new ChatUx();
    
     const initParam =
            {
                renderMode: 'auto',
                api: {
                    endpoint: 'https://kabuchatserver-aan2wimtkq-uw.a.run.app/chat',
                    method: 'GET',
                    dataType: 'json'
                },
                bot: {
                    botPhoto: 'https://1.bp.blogspot.com/-U-God4u2s7Q/VdLsEO8pS9I/AAAAAAAAw2w/CucJpIwog34/s400/vegetable_kyouyasai_syougoin_daikon.png',
                    humanPhoto: null,
                    widget: {
                        sendLabel: '検索',
                        placeHolder: 'キーワードを入力（例: 医薬品）'
                    }
                },
                window: {
                    title: '銘柄検索ボット',
                    infoUrl: 'https://github.com/RuBisCO28/KabuChatServer'
                }
            };
        chatux.init(initParam);
        chatux.start(false);
    
    </script>
	
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../static/js/bsadmin.js"></script>
  </body>
</html>